@font-face {
  font-family: 'FuturaDemiC';
  src: url("../fonts/FuturaDemiC.eot");
  src: local("Futura Demi Cyrillic"), local("FuturaDemiC"), url("../fonts/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaDemiC.woff") format("woff"), url("../fonts/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaLightC';
  src: url("../fonts/FuturaLightC.eot");
  src: local("Futura Light Cyrillic"), local("FuturaLightC"), url("../fonts/FuturaLightC.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaLightC.woff") format("woff"), url("../fonts/FuturaLightC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'FuturaBookC';
  src: url("../fonts/FuturaBookC.eot");
  src: local("Futura Book Cyrillic"), local("FuturaBookC"), url("../fonts/FuturaBookC.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBookC.woff") format("woff"), url("../fonts/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.container {
  margin: 0 auto;
  width: 1438px; }

.header {
  background: #131313;
  color: #ffffff;
  font-family: 'FuturaDemiC', sans-serif; }

.navigation {
  align-items: center;
  display: flex;
  height: 83px; }

.logo {
  color: #e3b873;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase; }

.logo__navigation {
  margin: 0 110px 0 82px; }

.menu {
  display: flex; }

.menu__item {
  margin: 0 41.5px 0 0; }

.menu__item:last-child {
  margin: 0 0 0 0; }

.menu__link {
  color: #ffffff;
  font-family: 'FuturaLightC', sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: uppercase; }

.menu__link:hover,
.menu__link_active {
  color: #e3b873; }

.phone-order {
  color: #e3b873;
  font-size: 14px;
  text-decoration: none; }

.phone-order:hover {
  color: #ffffff; }

.phone-order__navigation {
  margin: 0 0 0 130px; }

.button-order {
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  align-items: center;
  background: #e3b873;
  border-radius: 2px;
  box-shadow: 0px, 5px rgba(227, 184, 115, 0.2);
  color: #ffffff;
  display: flex;
  font-size: 13px;
  justify-content: center;
  letter-spacing: 0;
  height: 37px;
  text-decoration: none;
  text-transform: uppercase;
  width: 161px; }

.button-order:hover {
  background: #242019;
  color: #ffffff; }

.button-order__navigation {
  margin: 0 0 0 46px; }

.instagram {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  align-items: center;
  background: #131313;
  display: flex;
  height: 91.51px;
  right: 1091.4px;
  padding: 0 0 0 247px;
  position: absolute;
  transform: rotate(90deg);
  top: 348px;
  width: 622px; }

.instagram__link {
  color: #e3b873;
  font-family: 'FuturaDemiC', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase; }

.instagram__link:hover {
  color: #ffffff; }

.instagram__link::after {
  background: #e3b873;
  content: '';
  display: inline-block;
  height: 2px;
  margin: 0 0 0 14px;
  vertical-align: middle;
  width: 51px; }

.offer {
  background: #c3c7e2 url(../img/first-screen.jpg) no-repeat center top/cover;
  margin: 0px 0 0 91px;
  padding: 190px 0 206px 50px;
  position: relative; }

.offer__title {
  font-family: 'Yeseva One', cursive;
  font-size: 40px;
  line-height: 132%;
  letter-spacing: 0;
  margin: 0 0 19px 0;
  padding: 1px 0 0 1px;
  text-transform: uppercase;
  width: 34%; }

.offer__title_decoration {
  color: #e3b873; }

.offer__text {
  font-family: 'FuturaBookC', sans-serif;
  font-size: 22px;
  line-height: 130%;
  margin: 0 0 48px 0;
  width: 43%; }

.offer-wrapper {
  display: flex; }

.calculate-cost {
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  align-items: center;
  background: #e3b873;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(227, 184, 115, 0.2);
  color: #ffffff;
  font-size: 13px;
  display: flex;
  height: 51px;
  justify-content: center;
  margin: 0 22px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  width: 207px; }

.calculate-cost:hover {
  background: #242019; }

.make-order {
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  align-items: center;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  font-size: 13px;
  display: flex;
  height: 51px;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 207px; }

.down {
  background: #131313;
  bottom: -47px;
  font-size: 12px;
  height: 97px;
  right: 1191px;
  position: absolute;
  text-transform: uppercase;
  width: 247px; }

.down-wrapper {
  padding: 45px 0 0 47px;
  position: relative; }

.down__text {
  color: #ffffff;
  font-family: 'Yeseva One', cursive; }

.down__circle {
  border: 1px solid #e3b873;
  border-radius: 50%;
  height: 29px;
  right: 49px;
  padding: 8px 0 0 8px;
  position: absolute;
  top: 37px;
  width: 29px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }
